.floating-lines-container {
  width: 100%;
  height: 100%;
  position: absolute;
  overflow: hidden;
  animation: opacity 2s ease;
  opacity: 0.2;
}

@keyframes opacity {
  from {
    opacity: 1;
  }
  to {
    opacity: 0.2;
  }
}
