@import url("https://fonts.googleapis.com/css2?family=Anton&family=Bricolage+Grotesque:opsz,wght@12..96,200..800&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Anton&family=Bricolage+Grotesque:opsz,wght@12..96,200..800&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

@font-face {
  font-family: "Satoshi";
  src: url(/assets/styles/fonts/satoshi/Satoshi-Regular.otf);
}

@font-face {
  font-family: "Satoshi Med";
  src: url(/assets/styles/fonts/satoshi/Satoshi-Medium.otf);
}

:root {
  --body: "Inter", sans-serif;
}

h1 {
  font-family: "Satoshi", sans-serif;
  font-size: 92px;
  font-weight: 100;
}

h2 {
  font-family: "Satoshi Med", sans-serif;
  font-size: 36px;
}

h3 {
  font-family: "Plus Jakarta Sans", sans-serif;
  font-size: 24px;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.pill {
  padding: 5px 24px;
  border-radius: 100px;
  background: wheat;
  font-family: var(--body);
  font-size: 15px;
  padding: 12px 15px;
  border-radius: 50px;
  background: linear-gradient(
    to right,
    rgba(255, 255, 255, 0.074),
    transparent,
    transparent
  );
  box-shadow: -1px 0 rgba(255, 255, 255, 0.185);
  color: white;
  font-weight: 500;
  p {
    background-image: linear-gradient(to right, green, gold);
    background-clip: text;
    -webkit-text-fill-color: transparent;
    width: auto;
    letter-spacing: -1px;
  }
}

html {
  scroll-behavior: smooth;
}

body {
  background: black;
  overflow-x: hidden;
  position: relative;
  width: 100%;
  color: white;
  font-family: var(--body);
}

.hero {
  position: relative;
  min-height: 100vh;
  width: 100vw;

  header,
  main {
    position: relative;
    z-index: 2;
  }

  header {
    padding: 0.5rem 3rem;
    display: flex;
    justify-content: space-between;
    align-items: center;

    img {
      height: 4rem;
    }

    ul {
      display: flex;
      gap: 5em;
      list-style: none;

      li {
        a {
          text-decoration: none;
          font-size: 14px;
          color: white;
          font-family: "Inter", sans-serif;
        }
      }
    }
  }

  main {
    height: 60dvh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    pointer-events: none;

    .pill {
      padding: 5px 24px;
      border-radius: 100px;
      background: wheat;
      font-family: var(--body);
      font-size: 15px;
      padding: 12px 15px;
      border-radius: 50px;
      background: linear-gradient(
        to right,
        rgba(255, 255, 255, 0.074),
        transparent,
        transparent
      );
      box-shadow: -1px 0 rgba(255, 255, 255, 0.185);
      color: white;
      font-weight: 500;
      p {
        background-image: linear-gradient(to right, green, gold);
        background-clip: text;
        -webkit-text-fill-color: transparent;
        width: auto;
        letter-spacing: -1px;
      }
    }

    .h1 {
      margin-top: 20px;
      font-family: "Satoshi", sans-serif;
      font-size: 92px;
      font-weight: 100;
      width: 100%;
      color: white;
    }

    .p {
      display: flex;
      justify-content: center;
    }
    p {
      width: 80%;
      text-align: center;
      font-family: var(--body);
      font-size: 14px;
      color: gray;
    }
  }

  nav {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3em;
  }
}

.gradient {
  height: 30vh;
  position: absolute;
  width: 100%;
  bottom: 0;
  left: 0;
  background: linear-gradient(to top, black, transparent);
  pointer-events: none;
}

.about {
  min-height: 100dvh;
  position: relative;

  main {
    position: relative;
    border: 1px solid rgba(255, 255, 255, 0.23);
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
    border-bottom: none;
    padding: 5rem;
    display: flex;
    justify-content: space-between;
    align-items: start;

    gap: 1em;

    .text {
      width: 60%;

      p {
        margin-top: 30px;
        color: gray;
        font-size: 1.3rem;
        line-height: 2rem;
      }

      .line {
        width: 100%;
        height: 1px;
        background: rgba(128, 128, 128, 0.332);
        margin: 30px 0;
      }

      table {
        width: 100%;

        td {
          padding: 20px;
          color: gray;
        }
      }

      h2 {
        font-weight: 500;
        font-size: 4rem;
        margin-top: 50px;
        display: flex;
        align-items: center;
        gap: 1rem;
        letter-spacing: -1px;

        color: gray;

        .icon {
          transform: rotate(90deg);
        }
      }
    }

    .img {
      display: flex;
      justify-content: center;
    }
    img {
      width: 100%;
      aspect-ratio: 5/7;
      object-fit: cover;
    }
  }

  .img,
  .text {
    z-index: 2;
  }
}

.works {
  position: relative;
  min-height: 100vh;
  background: black;
  padding: 5rem;

  display: flex;
  flex-direction: column;
  align-items: center;

  z-index: 2;
  gap: 2em;

  will-change: transform;

  h2 {
    text-align: center;
    font-weight: 500;
    font-size: 4rem;
  }

  .container {
    display: flex;
    align-items: center;
    justify-content: start;
    gap: 2em;
    position: relative;
    padding: 1rem;
    border-radius: 20px;
    border: 1px solid rgba(255, 255, 255, 0.288);

    width: 90%;
    height: 50vh;

    img {
      height: 100%;
      aspect-ratio: 1898 / 909;
      border-radius: 12px;
    }

    .text {
      display: flex;
      flex-direction: column;
      gap: 12px;

      p {
        font-weight: 200;
      }

      .stack {
        display: flex;
        gap: 0.5em;
        margin-top: 12px;
        pointer-events: none;

        span {
          padding: 5px 14px;
          border-radius: 100px;
          font-size: 14px;
        }

        .react {
          background: rgba(97, 218, 251, 0.14);
          color: rgba(97, 218, 251, 0.95);
        }

        .gsap {
          background: rgba(136, 204, 51, 0.14);
          color: rgba(180, 255, 90, 0.95);
        }

        .html {
          background: rgba(227, 79, 38, 0.14);
          color: rgba(255, 140, 95, 0.95);
        }

        .css {
          background: rgba(38, 77, 228, 0.14);
          color: rgba(120, 150, 255, 0.95);
        }

        .js {
          background: rgba(240, 219, 79, 0.14);
          color: rgba(255, 245, 160, 0.95);
        }
      }

      a {
        color: white;
        text-decoration: none;
        font-weight: 200;
        font-size: 14px;
        margin-top: 20px;
        transition: 0.3s ease;
        display: flex;
        align-items: center;
        gap: 8px;

        .icon {
          rotate: -35deg;
          transition: 0.3s ease;
        }

        &:hover {
          text-decoration: underline;

          .icon {
            rotate: 0deg;
          }
        }
      }
    }
  }
}

.page {
  height: 100vh;
  position: absolute;
  z-index: 1;
}

.contact {
  position: relative;
  min-height: 70vh;
  background: #000;
  overflow-y: hidden;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1em;

  .gradient {
    position: absolute;
    height: 20vh;
    top: 0;
    left: 0;

    width: 100%;
    background: linear-gradient(to bottom, black, transparent);
    z-index: 2;
    pointer-events: none;
  }

  video {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    left: 0;
    top: 0;
  }
  .pill {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5em;
    /* animation: blink 3s infinite; */

    p {
      z-index: 4;
    }
    span {
      font-size: 1rem;
    }
  }

  h1 {
    position: relative;
    font-size: 3rem;
    text-align: center;
    z-index: 2;
  }

  .deets {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2em;
    margin-top: 1rem;

    .socials {
      display: flex;
      gap: 2em;
      a {
        text-decoration: none;
        font-size: 2rem;
        color: white;
        transition: 0.3s ease;

        &:hover {
          color: rgb(0, 52, 238);
        }
      }
    }

    .line {
      height: 3rem;
      width: 1px;
      background: white;
    }

    .phone {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 0.5em;
      pointer-events: none;
    }
  }
}

@keyframes blink {
  from {
    color: rgb(0, 46, 0);
  }
  to {
    color: rgb(0, 255, 0);
    filter: drop-shadow(0 0 1px rgb(0, 255, 0));
  }
}

@media screen and (max-width: 1200px) {
  .about {
    main {
      .text {
        table {
          width: 165%;
          /* border: 1px solid; */
        }
      }
    }
  }

  .works {
    .container {
      height: 30vh;
    }
  }
}

@media screen and (max-width: 850px) {
  .about {
    main {
      flex-direction: column-reverse;
      .text {
        width: 100%;
        margin-top: 24px;

        table {
          width: 100%;
        }
      }
    }
  }

  .works {
    padding: 1rem;

    .container {
      flex-direction: column;
      align-items: start;
      height: auto;
      width: 100%;
      padding: 20px 20px 3rem;

      img {
        width: 100%;
        height: auto;
      }
    }
  }

  .contact {
    overflow-y: hidden;
    video {
      height: 100%;
      object-fit: cover;
    }
  }
}
@media screen and (max-width: 767px) {
  .hero {
    header {
      display: none;
      flex-direction: column;
      gap: 0.5em;

      img {
        height: 3rem;
      }

      ul {
        width: 100%;
        gap: 0;
        justify-content: space-between;
      }
    }

    main {
      height: 65vh;
      .pill {
        font-size: 12px;
      }

      .h1 {
        font-size: 2.5rem;
      }

      p {
        font-size: 12px;
      }
    }

    nav {
      padding: 0 5em;
      gap: 1em;
      flex-direction: column;
      align-items: stretch;
      position: relative;
      z-index: 99;
    }
  }
  .about {
    main {
      flex-direction: column-reverse;
      padding: 2rem;

      img {
        border-radius: 16px;
        width: 100%;
      }
      .text {
        width: 100%;
        margin-top: 20px;

        h1 {
          font-size: 3rem;
        }

        p {
          font-size: 1rem;
          text-align: justify;
        }

        table {
          font-size: 0.7rem;
        }
      }
    }
  }

  .works {
    padding: 5rem 2rem;
    h2 {
      font-size: 3rem;
    }

    .container {
      width: 100%;
      flex-direction: column;
      height: auto;
      padding: 20px 20px 2rem;

      img {
        width: 100%;
        height: auto;
      }
    }
  }

  .contact {
    min-height: 10vh;
    justify-content: start;
    padding: 2rem 0;

    .gradient {
      z-index: 1;
      height: 10vh;
    }

    .pill {
      z-index: 2;
    }

    h1 {
      position: relative;
      font-size: 1.5rem;
      z-index: 2;
    }

    .deets {
      font-size: 0.5rem;
      z-index: 2;

      .phone {
        font-size: 0.9rem;
      }
    }
  }
}
